body{font-family:sans-serif;font-size:12pt}*,*:before,*:after{box-sizing:border-box}*{margin:0;padding:0}img{max-width:100%;display:block}ul{list-style:none;padding:0;margin:0}a,a:hover,a:active,a:visited{color:inherit}
